.bg-holder {
  @extend %covered_bg;
  &--h-35 {
    padding-top: 35%;
  }
  &--h-50 {
    padding-top: 50%;
  }
  &--h-70 {
    padding-top: 70%;
  }
  &--h-100 {
    padding-top: 100%;
  }
  &--h-140 {
    padding-top: calc(140% + 3rem);
  }
}