// Media Queries
@mixin breakpoint($point) {
  @if $point == _1440 {
    @media only screen and (max-width: 1440px) { @content; }
  }
  @if $point == _1200 {
    @media only screen and (max-width: 1200px) { @content; }
  }
  @else if $point == _992 {
    @media only screen and (max-width: 992px) { @content; }
  }
}

// Containers Media Queries
@mixin con-breakpoint($point) {
  @if $point == xl {
    @media only screen and (min-width: 1367px) { @content; }
  }
  @if $point == xxl {
    @media only screen and (min-width: 1600px) { @content; }
  }
  @if $point == xxxl {
    @media only screen and (min-width: 1900px) { @content; }
  }
}

/*
.block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.block:before {
  content: ' ';
  background-color: grey;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 10px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.block__el {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.block__el:before {
  content: ' ';
  display: block;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.block__el--from:before, .block__el--destination:before {
  background-color: grey;
}

.block__el--from:before {
  align-self: flex-start;
}

.block__el--destination:before {
  content: ' ';
  display: block;
  border-left: 10px solid grey;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 0;
  background-color: transparent;
  width: 10px;
  align-self: flex-end;
}

.block__el p {
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: uppercase;
}*/
