// LTR fonts - EN
@font-face {
  font-family: "pop-extraBold";
  src: url("../assets/fonts/ltr/Poppins-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "pop-bold";
  src: url("../assets/fonts/ltr/Poppins-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "pop-semi";
  src: url("../assets/fonts/ltr/Poppins-SemiBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "pop-med";
  src: url("../assets/fonts/ltr/Poppins-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "pop-reg";
  src: url("../assets/fonts/ltr/Poppins-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "pop-light";
  src: url("../assets/fonts/ltr/Poppins-Light.ttf");
  font-style: normal;
}

////////////////////////////////////////////////////////////
// RTL fonts - AR
@font-face {
  font-family: "taj-extraBold";
  src: url("../assets/fonts/rtl/Tajawal-Black.ttf");
  font-style: normal;
}
@font-face {
  font-family: "taj-bold";
  src: url("../assets/fonts/rtl/Tajawal-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "taj-semi";
  src: url("../assets/fonts/rtl/Tajawal-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "taj-med";
  src: url("../assets/fonts/rtl/Tajawal-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "taj-reg";
  src: url("../assets/fonts/rtl/Tajawal-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "taj-light";
  src: url("../assets/fonts/rtl/Tajawal-Light.ttf");
  font-style: normal;
}
