// LTR fonts - EN
@font-face {
  font-family: 'pop-extraBold';
  src: url('../font-family/ltr/Poppins-ExtraBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'pop-bold';
  src: url('../font-family/ltr/Poppins-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'pop-semi';
  src: url('../font-family/ltr/Poppins-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'pop-med';
  src: url('../font-family/ltr/Poppins-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'pop-reg';
  src: url('../font-family/ltr/Poppins-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'pop-light';
  src: url('../font-family/ltr/Poppins-Light.ttf');
  font-style: normal;
}

////////////////////////////////////////////////////////////
// RTL fonts - AR
@font-face {
  font-family: 'taj-extraBold';
  src: url('../font-family/rtl/Tajawal-Black.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'taj-bold';
  src: url('../font-family/rtl/Tajawal-ExtraBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'taj-semi';
  src: url('../font-family/rtl/Tajawal-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'taj-med';
  src: url('../font-family/rtl/Tajawal-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'taj-reg';
  src: url('../font-family/rtl/Tajawal-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'taj-light';
  src: url('../font-family/rtl/Tajawal-Light.ttf');
  font-style: normal;
}