.align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.p-8 {
  padding: 0 8%;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
