// Font-Sizes
$bodyFS-s: 1.2rem;
$bodyFS: 1.4rem;
$bodyFS-l: 1.6rem;

$blocksTitleFS: 1.8rem;

$footerBlocksFS: 2.4rem;

$sectionTitleFS: 4.2rem;

$extraLargeFS: 6.2rem;

$placeholderFS: 1.3rem;

// Font-Colors
$bodyFC: #b1b1b1;

$mainFC: #5863f8;

$textFC1: #000;
$textFC2: #fff;

$footerFC: #707070;

$placeholderFC: #cecece;

// Colors
$mainClr: #5863f8;
$mainBG: #f8f8f8;
$scdBG: #d1d1d1;
$footerBG: #121212;
$white: #fff;
$black: #000;
$inputsBG: #eee;
