// Font-Sizes
$bodyFS-s: 1.2rem;
$bodyFS: 1.4rem;
$bodyFS-l: 1.6rem;

$blocksTitleFS: 1.8rem;

$footerBlocksFS: 2.4rem;

$sectionTitleFS: 4.2rem;

$extraLargeFS: 6.2rem;

$placeholderFS: 1.3rem;

// Font-Colors
$bodyFC: #B1B1B1;

$mainFC: #5863F8;

$textFC1: #000;
$textFC2: #fff;

$footerFC: #707070;

$placeholderFC: #CECECE;

// Colors
$mainClr: #5863F8;
$mainBG: #F8F8F8;
$scdBG: #D1D1D1;
$footerBG: #121212;
$white: #FFF;
$black: #000;
$inputsBG: #EEE;